.bigblue {
    background-color: #e35683;
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.smalblue{
    background-color: #89898c;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
